allow hal_memtrack debugfs_kgsl:dir search;
allow hal_memtrack debugfs_kgsl:file { open read getattr };

# Memtrack reads proc/<pid>/cmdline to check if process is surfaceflinger.
# Grant access if that's the case; don't log denials for other processes.
allow hal_memtrack surfaceflinger:file read;
dontaudit hal_memtrack { domain -surfaceflinger}:file read;

# For collecting bugreports
dontaudit hal_memtrack hal_contexthub:dir search;
dontaudit hal_memtrack hal_contexthub:file { getattr open };
dontaudit hal_memtrack hal_dumpstate_impl:dir search;
dontaudit hal_memtrack hal_dumpstate_impl:file open;
dontaudit hal_memtrack hwservicemanager:dir search;
dontaudit hal_memtrack hwservicemanager:file { getattr open };
dontaudit hal_memtrack qcneservice:dir search;
dontaudit hal_memtrack qcneservice:file { getattr open };
dontaudit hal_memtrack qtelephony:dir search;
dontaudit hal_memtrack qtelephony:file { getattr open };
dontaudit hal_memtrack ssr_detector:dir search;
dontaudit hal_memtrack ssr_detector:file { getattr open };
dontaudit hal_memtrack_default servicemanager:dir search;
dontaudit hal_memtrack_default servicemanager:file { getattr open };
dontaudit hal_memtrack_default vndservicemanager:dir search;
dontaudit hal_memtrack_default vndservicemanager:file open;
dontaudit hal_memtrack_default hal_configstore_default:dir search;
dontaudit hal_memtrack_default hal_configstore_default:file { open getattr };
dontaudit hal_memtrack_default hal_dumpstate_impl:file getattr;
dontaudit hal_memtrack_default hal_gatekeeper_default:dir search;
dontaudit hal_memtrack_default hal_gatekeeper_default:file { getattr open };
dontaudit hal_memtrack_default hal_keymaster_default:dir search;
dontaudit hal_memtrack_default hal_keymaster_default:file { getattr open };
dontaudit hal_memtrack_default hal_light_default:dir search;
dontaudit hal_memtrack_default hal_light_default:file { getattr open };
dontaudit hal_memtrack_default qtimeservice:dir search;
dontaudit hal_memtrack_default qtimeservice:file { getattr open };
dontaudit hal_memtrack_default vndservicemanager:file getattr;
dontaudit hal_memtrack_default vr_hwc:dir search;
dontaudit hal_memtrack_default vr_hwc:file { open getattr };
#dontaudit hal_memtrack_default hal_allocator_default:dir search;
#dontaudit hal_memtrack_default hal_allocator_default:file { getattr open };
dontaudit hal_memtrack_default atfwd:dir search;
dontaudit hal_memtrack_default atfwd:file { getattr open };
dontaudit hal_memtrack_default bufferhubd:dir search;
dontaudit hal_memtrack_default bufferhubd:file { getattr open };
dontaudit hal_memtrack_default cnss_diag:dir search;
dontaudit hal_memtrack_default cnss_diag:file { getattr open };
dontaudit hal_memtrack_default hal_fingerprint_default:dir search;
dontaudit hal_memtrack_default hal_fingerprint_default:file { getattr open };
dontaudit hal_memtrack_default hal_power_default:dir search;
dontaudit hal_memtrack_default hal_power_default:file { getattr open };
dontaudit hal_memtrack_default hal_usb_default:dir search;
dontaudit hal_memtrack_default hal_usb_default:file { getattr open };
dontaudit hal_memtrack_default hal_vibrator_default:dir search;
dontaudit hal_memtrack_default hal_vibrator_default:file { getattr open };
dontaudit hal_memtrack_default hal_vr_default:dir search;
dontaudit hal_memtrack_default hal_vr_default:file { getattr open };
dontaudit hal_memtrack_default per_proxy:dir search;
dontaudit hal_memtrack_default per_proxy:file { getattr open };
dontaudit hal_memtrack_default thermalserviced:dir search;
dontaudit hal_memtrack_default thermalserviced:file { getattr open };
dontaudit hal_memtrack_default virtual_touchpad:dir search;
dontaudit hal_memtrack_default virtual_touchpad:file { getattr open };
