type move-widevine-data-sh, domain;
type move-widevine-data-sh_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(move-widevine-data-sh);

allow move-widevine-data-sh vendor_shell_exec:file rx_file_perms;
allow move-widevine-data-sh vendor_toolbox_exec:file rx_file_perms;
allow move-widevine-data-sh media_data_file:dir r_dir_perms;


#allow move-widevine-data-sh media_data_file:dir getattr;

#allow move-widevine-data-sh self:capability { dac_override dac_read_search };
#allow move-widevine-data-sh mediadrm_widevine_vendor_data_file:dir write;
#allow move-widevine-data-sh vendor_toolbox_exec:file execute_no_trans;

#allow move-widevine-data-sh media_data_file:dir { read search };

#allow move-widevine-data-sh system_data_file:dir write;

# allow move-widevine-data-sh vendor_toolbox_exec:file rx_file_perms;

# /data/vendor/mediadrm/widevine
allow move-widevine-data-sh mediadrm_widevine_vendor_data_file:dir create_dir_perms;
allow move-widevine-data-sh mediadrm_widevine_vendor_data_file:file create_file_perms;
