allowxperm priv_app self:udp_socket ioctl { SIOCGIWESSID };

# Clean up logspam
dontaudit priv_app firstboot_prop:file read;

# For collecting bugreports
dontaudit priv_app sysfs_pcie:file { open read };
dontaudit priv_app sysfs_wifi:file { open read };
dontaudit priv_app sysfs_android_usb:file { open read };
