# symlink /sdcard to backing block

allow vendor_init debugfs_sps:dir search;
allow vendor_init debugfs_sps:file w_file_perms;

# b/68982314
allow vendor_init proc_uid_cpupower:file write;
